@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Kanit:400,200&subset=thai,latin);
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{padding:125px 0 0;margin:0;font-family:"Kanit",tahoma;font-size:14px;background:url(../img/bg.jpg) 50% 0 no-repeat #62a4d7 fixed;background-size:cover;color:#115793}
body.home{padding-top:0;background:#fff}
img{border:0;max-width:100%}
a{outline:none;text-decoration:none;color:#0060ac}
a:hover{color:#0060ac;text-decoration:underline}
a img{-webkit-transition:all 0.2s ease-in-out 0s;transition:all 0.2s ease-in-out 0s}
ol,ul{padding:0;margin:0;list-style-type:none}
input,select,textarea{vertical-align:middle}
img,fieldset{vertical-align:middle;border:0}
h1,h2,h3,h4,h5,h6,form,fieldset,ul,ol,dl,dt,dd,li,p{padding:0;margin:0}
h1,h2,h3,h4,h5,h6{font-family:"Kanit",tahoma;font-weight:400}
li{list-style:none}
img,a,li{outline:0}
em,i,address{font-style:normal}
.hid,[hidden]{display:none}
.vhid{visibility:hidden!important}
.offscr{position:absolute;left:-9999px}
.fL{float:left}
.fR{float:right}
.fN{float:none}
.pa1{padding:10px}
.pv1{padding:10px 0}
.ph1{padding:0 10px}
.pt1{padding-top:10px}
.pr1{padding-right:10px}
.pb1{padding-bottom:10px}
.pl1{padding-left:10px}
.pa2{padding:20px}
.pv2{padding:20px 0}
.ph2{padding:0 20px}
.pt2{padding-top:20px}
.pr2{padding-right:20px}
.pb2{padding-bottom:20px}
.pl2{padding-left:20px}
.pd0{padding:0!important}
.pt0{padding-top:0!important}
.pb0{padding-bottom:0!important}
.ma1{margin:10px}
.mv1{margin:10px 0}
.mh1{margin:0 10px}
.mt0{margin-top:0!important}
.mt1{margin-top:10px}
.mr1{margin-right:10px}
.mb1{margin-bottom:10px}
.mb0{margin-bottom:0!important}
.ml1{margin-left:10px}
.ma2{margin:20px}
.mv2{margin:20px 0}
.mh2{margin:0 20px}
.mt2{margin-top:20px}
.mr2{margin-right:20px}
.mb2{margin-bottom:20px}
.ml2{margin-left:20px}
.mr0{margin:0}
/* Clear */
#header,#footer,#contents{clear:both;margin-top:0;margin-bottom:0}
.container:after, .cb-af:after,
#navigation:after,
.top-nav ul:after,
#contents:after,
#header:after,
#footer:after,
.idTabs:after,
[class*="nav-"]:after{content:"";display:block;clear:both;visibility:hidden;height:0}
.container{margin-left:auto;margin-right:auto}
body.expand{overflow:hidden}
/*header footer*/
#header,#toc,#footer,#navigation,body>*{-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
/*body>*{-webkit-transform:translateX(0);transform:translateX(0)}*/
.expand>*{-webkit-transform:translateX(250px);transform:translateX(250px)}
.logo{padding:0;position:relative;display:inline-block;margin:0}
.logo a,.logo a span,[class*="logo-ft"] a,[class*="logo-ft"] a span{position:relative;display:block;width:100%;height:100%;text-indent:-9999px;z-index:2}
.logo a{position:absolute;top:0;left:0;right:0;bottom:0;z-index:2}
.logo img{position:relative;z-index:1;max-width:100%;max-height:inherit;padding:0;margin:0}
#header .title{display:inline-block;vertical-align:bottom;font:100 1.4vw/46px "Kanit";color:#2d88bf;letter-spacing:1px}
[class*="ads"]{position:relative;text-align:center;max-width:100%}
[class*="ads"] img{max-width:100%;height:auto}
#header>.container{padding-left:0;padding-right:0}
@media (min-width:769px){#header{position:fixed;left:0;right:0;top:0;background:#fff;background-color:rgba(255,255,255,0.75);z-index:99;filter:drop-shadow(0px 10px 20px rgba(0,0,0,.3));-webkit-filter:drop-shadow(0px 10px 20px rgba(0,0,0,.3))}
#header .logo{max-width:20vw}
#header .btn-nv-m{display:none}
#navigation{position:absolute;right:0;bottom:0;z-index:200}
#nav-drop>li.hid{display:none}
#nav-drop>li{position:relative;float:left}
#nav-drop>li>a,#nav-drop>li>b>a{display:block;font:21px/46px "Kanit";color:#0068b2;padding:0 20px}
#nav-drop>li:last-child>a{padding-right:0}
#nav-drop>li b{font-weight:100}
#nav-drop>li>b>a.selected,#nav-drop>li>a.selected{color:#f00}
#nav-drop>li ul{display:none;width:200px;max-width:none;position:absolute;top:46px;left:0;background:rgba(255,255,255,0.75);color:#777;padding:10px 0 0;text-align:left;box-shadow:0 5px 5px rgba(0,0,0,.5)}
#nav-drop>li:hover>ul{display:block}
#nav-drop>li ul ul{top:0;left:100%}
#nav-drop>li ul>li{position:relative;height:auto;line-height:30px}
#nav-drop>li ul>li>a{display:block;color:#777;padding:5px 10px}
#nav-drop>li ul>li>a:hover{background:rgba(0,0,0,0.1);color:#0072b7}
}
.srh{position:absolute;top:1vw;right:0;z-index:22;width:582px;max-width:100%}
.srh form,.srh form fieldset{padding:0;margin:0;position:relative}
.srh form fieldset>*{margin-bottom:0}
.srh form .txt-box{float:right;display:block;width:100%;padding:5px 30px 5px 10px;background:rgba(255,255,255,0.45);border:1px solid #ccc;border-radius:.3em;-webkit-border-radius:.3em;font:100 16px/20px "Kanit";color:#000;transition:.2s all ease-in-out;-webkit-transition:.2s all ease-in-out}
.srh form .txt-box:focus,.srh form .txt-box:active{width:100%;background:rgba(255,255,255,0.95)}
.srh form .btn-srh{display:block;width:32px;height:29px;border:none;background:none;color:#0072B9;font-size:21px;position:absolute;top:1px;right:1px;z-index:9;cursor:pointer}
#footer{background:#6d1193;color:#fff;box-shadow:0 40px 30px -30px rgba(0,0,0,0.2) inset;padding:25px 0 10px}
#footer>.container>* a{color:#fff}
#footer .lg-footer{position:absolute;top:50%;right:0;margin-top:-60px;z-index:19}
#footer>.container>h3{font-size:26px;font-weight:700}
#footer>.container>address,#footer>.container>.contact{font-size:18px}
#footer>.container .copy{text-align:left;font:10px/18px tahoma;color:#ccc;margin-top:10px}
#footer .btn-back2top{position:fixed;bottom:-100px;right:10px;transition:.2s all ease-in-out;-webkit-transition:.2s all ease-in-out}
#footer .btn-back2top a{position:relative;display:block;width:48px;height:48px;padding:0;text-indent:-9999px;background:rgba(255,255,255,0.85);box-shadow:0 1px 3px rgba(0,0,0,0.2)}
#footer .btn-back2top a:before{content:"\f077";display:block;position:absolute;top:0;left:0;right:0;bottom:0;font:36px/48px "FontAwesome";color:#0072b7;text-indent:0;text-align:center}
/*form*/
form,fieldset{position:relative;padding:0;margin:0}
fieldset *{vertical-align:middle}
fieldset>*{margin-bottom:5px}
fieldset>legend{display:block;width:100%;border-bottom:2px solid #fff;margin-bottom:5px;font:18px/30px "Kanit"}
fieldset>*.mb0{margin-bottom:0}
form label{display:inine-block;font:14px/30px "Kanit",tahoma}
form label.bk{display:block}
form .txt-box,form .select-box,form .tt-area{padding:0 5px;min-height:25px;font:13px/25px tahoma;color:#333;border:1px solid #ccc;background:#fff;max-width:100%;text-shadow:0 1px 0 rgba(0,0,0,0.5);border-radius:0}
::-webkit-input-placeholder{color:#777}
:-moz-placeholder{color:#777}}
::-moz-placeholder{color:#777}}
:-ms-input-placeholder{color:#777}}
form .txt-box.inline{width:150px}
form .txt-box.mini{width:80px}
form .select-box{min-width:70px;width:auto;padding:5px;background:#002a55}
form .txt-area{height:auto;min-height:100px;resize:vertical}
/*UI btn*/
[class*="ui-btn"]{display:inline-block;padding:5px 15px;min-width:75px;margin-right:8px;text-align:center;font:16px/30px "Kanit",tahoma;color:#fff;background:#002a55;text-shadow:0 1px 0 rgba(0,0,0,0.5);border:none;cursor:pointer}
[class*="ui-btn"][class*="row"]{display:block;margin-top:15px}
[class*="ui-btn"][class*="black"]{background:#000}
[class*="ui-btn"]:hover{opacity:.75}
[class*="txt-c"]{text-align:center}
[class*="txt-r"]{text-align:right}
[class*="txt-l"]{text-align:left}
/*bootstrap*/
*, *:before, *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.container{position:relative;margin-right:auto;margin-left:auto}
[class*="row"] ,.row{margin-right:-10px;margin-left:-10px}
.row:before, .row:after{display:table;content:" "}
.row:after{clear:both}
/*--- column main-function ---*/
[class*="_sf"][class*="-col"],
[class*="_cd"][class*="-col"]>*{position:relative;min-height:1px;padding-right:10px;padding-left:10px;float:left}
[class*="_cd"]>*{margin-bottom:10px}
/*--- column xs-function ---*/
/*self*/
[class*="_sf"][class*="-col"][class*="-xs-1"]{width:8.333333333333332%}
[class*="_sf"][class*="-col"][class*="-xs-2"]{width:16.666666666666664%}
[class*="_sf"][class*="-col"][class*="-xs-3"]{width:25%}
[class*="_sf"][class*="-col"][class*="-xs-4"]{width:33.33333333333333%}
[class*="_sf"][class*="-col"][class*="-xs-5"]{width:41.66666666666667%}
[class*="_sf"][class*="-col"][class*="-xs-6"]{width:50%}
[class*="_sf"][class*="-col"][class*="-xs-7"]{width:58.333333333333336%}
[class*="_sf"][class*="-col"][class*="-xs-8"]{width:66.66666666666666%}
[class*="_sf"][class*="-col"][class*="-xs-9"]{width:75%}
[class*="_sf"][class*="-col"][class*="-xs-10"]{width:83.33333333333334%}
[class*="_sf"][class*="-col"][class*="-xs-11"]{width:91.66666666666666%}
[class*="_sf"][class*="-col"][class*="-xs-12"]{width:100%}
/*child*/
[class*="_cd"][class*="-col"][class*="-xs-1"]>*{width:8.333333333333332%}
[class*="_cd"][class*="-col"][class*="-xs-2"]>*{width:16.666666666666664%}
[class*="_cd"][class*="-col"][class*="-xs-3"]>*{width:25%}
/*[class*="_cd"][class*="-col"][class*="-xs-4"]>*{width:33.33333333333333%}*/
[class*="_cd"][class*="-col"][class*="-xs-4"]>*{width:49.333333%}
[class*="_cd"][class*="-col"][class*="-xs-5"]>*{width:41.66666666666667%}
[class*="_cd"][class*="-col"][class*="-xs-6"]>*{width:50%}
[class*="_cd"][class*="-col"][class*="-xs-7"]>*{width:58.333333333333336%}
[class*="_cd"][class*="-col"][class*="-xs-8"]>*{width:66.66666666666666%}
[class*="_cd"][class*="-col"][class*="-xs-9"]>*{width:75%}
[class*="_cd"][class*="-col"][class*="-xs-10"]>*{width:83.33333333333334%}
[class*="_cd"][class*="-col"][class*="-xs-11"]>*{width:91.66666666666666%}
[class*="_cd"][class*="-col"][class*="-xs-12"]>*{width:100%}
/*offset*/
[class*="_sf"][class*="-col"][class*="-xs-offset-0"], 
[class*="_cd"][class*="-col"][class*="-xs-offset-0"]>*{margin-left:0}
[class*="_sf"][class*="-col"][class*="-xs-offset-1"], 
[class*="_cd"][class*="-col"][class*="-xs-offset-1"]>*{margin-left:8.333333333333332%}
[class*="_sf"][class*="-col"][class*="-xs-offset-2"], 
[class*="_cd"][class*="-col"][class*="-xs-offset-2"]>*{margin-left:16.666666666666664%}
[class*="_sf"][class*="-col"][class*="-xs-offset-3"], 
[class*="_cd"][class*="-col"][class*="-xs-offset-3"]>*{margin-left:25%}
[class*="_sf"][class*="-col"][class*="-xs-offset-4"], 
[class*="_cd"][class*="-col"][class*="-xs-offset-4"]>*{margin-left:33.33333333333333%}
[class*="_sf"][class*="-col"][class*="-xs-offset-5"], 
[class*="_cd"][class*="-col"][class*="-xs-offset-5"]>*{margin-left:41.66666666666667%}
[class*="_sf"][class*="-col"][class*="-xs-offset-6"], 
[class*="_cd"][class*="-col"][class*="-xs-offset-6"]>*{margin-left:50%}
[class*="_sf"][class*="-col"][class*="-xs-offset-7"], 
[class*="_cd"][class*="-col"][class*="-xs-offset-7"]>*{margin-left:58.333333333333336%}
[class*="_sf"][class*="-col"][class*="-xs-offset-8"], 
[class*="_cd"][class*="-col"][class*="-xs-offset-8"]>*{margin-left:66.66666666666666%}
[class*="_sf"][class*="-col"][class*="-xs-offset-9"], 
[class*="_cd"][class*="-col"][class*="-xs-offset-9"]>*{margin-left:75%}
[class*="_sf"][class*="-col"][class*="-xs-offset-10"], 
[class*="_cd"][class*="-col"][class*="-xs-offset-10"]>*{margin-left:83.33333333333334%}
[class*="_sf"][class*="-col"][class*="-xs-offset-11"], 
[class*="_cd"][class*="-col"][class*="-xs-offset-11"]>*{margin-left:91.66666666666666%}
/*push pull*/
[class*="_sf"][class*="-col"][class*="-xs-push-0"], 
[class*="_cd"][class*="-col"][class*="-xs-push-0"]>*{left:auto}
[class*="_sf"][class*="-col"][class*="-xs-push-1"], 
[class*="_cd"][class*="-col"][class*="-xs-push-1"]>*{left:8.333333333333332%}
[class*="_sf"][class*="-col"][class*="-xs-push-2"], 
[class*="_cd"][class*="-col"][class*="-xs-push-2"]>*{left:16.666666666666664%}
[class*="_sf"][class*="-col"][class*="-xs-push-3"], 
[class*="_cd"][class*="-col"][class*="-xs-push-3"]>*{left:25%}
[class*="_sf"][class*="-col"][class*="-xs-push-4"], 
[class*="_cd"][class*="-col"][class*="-xs-push-4"]>*{left:33.33333333333333%}
[class*="_sf"][class*="-col"][class*="-xs-push-5"], 
[class*="_cd"][class*="-col"][class*="-xs-push-5"]>*{left:41.66666666666667%}
[class*="_sf"][class*="-col"][class*="-xs-push-6"], 
[class*="_cd"][class*="-col"][class*="-xs-push-6"]>*{left:50%}
[class*="_sf"][class*="-col"][class*="-xs-push-7"], 
[class*="_cd"][class*="-col"][class*="-xs-push-7"]>*{left:58.333333333333336%}
[class*="_sf"][class*="-col"][class*="-xs-push-8"], 
[class*="_cd"][class*="-col"][class*="-xs-push-8"]>*{left:66.66666666666666%}
[class*="_sf"][class*="-col"][class*="-xs-push-9"], 
[class*="_cd"][class*="-col"][class*="-xs-push-9"]>*{left:75%}
[class*="_sf"][class*="-col"][class*="-xs-push-10"], 
[class*="_cd"][class*="-col"][class*="-xs-push-10"]>*{left:83.33333333333334%}
[class*="_sf"][class*="-col"][class*="-xs-push-11"], 
[class*="_cd"][class*="-col"][class*="-xs-push-11"]>*{left:91.66666666666666%}
[class*="_sf"][class*="-col"][class*="-xs-pull-0"], 
[class*="_cd"][class*="-col"][class*="-xs-pull-0"]>*{right:auto}
[class*="_sf"][class*="-col"][class*="-xs-pull-1"], 
[class*="_cd"][class*="-col"][class*="-xs-pull-1"]>*{right:8.333333333333332%}
[class*="_sf"][class*="-col"][class*="-xs-pull-2"], 
[class*="_cd"][class*="-col"][class*="-xs-pull-2"]>*{right:16.666666666666664%}
[class*="_sf"][class*="-col"][class*="-xs-pull-3"], 
[class*="_cd"][class*="-col"][class*="-xs-pull-3"]>*{right:25%}
[class*="_sf"][class*="-col"][class*="-xs-pull-4"], 
[class*="_cd"][class*="-col"][class*="-xs-pull-4"]>*{right:33.33333333333333%}
[class*="_sf"][class*="-col"][class*="-xs-pull-5"], 
[class*="_cd"][class*="-col"][class*="-xs-pull-5"]>*{right:41.66666666666667%}
[class*="_sf"][class*="-col"][class*="-xs-pull-6"], 
[class*="_cd"][class*="-col"][class*="-xs-pull-6"]>*{right:50%}
[class*="_sf"][class*="-col"][class*="-xs-pull-7"], 
[class*="_cd"][class*="-col"][class*="-xs-pull-7"]>*{right:58.333333333333336%}
[class*="_sf"][class*="-col"][class*="-xs-pull-8"], 
[class*="_cd"][class*="-col"][class*="-xs-pull-8"]>*{right:66.66666666666666%}
[class*="_sf"][class*="-col"][class*="-xs-pull-9"], 
[class*="_cd"][class*="-col"][class*="-xs-pull-9"]>*{right:75%}
[class*="_sf"][class*="-col"][class*="-xs-pull-10"], 
[class*="_cd"][class*="-col"][class*="-xs-pull-10"]>*{right:83.33333333333334%}
[class*="_sf"][class*="-col"][class*="-xs-pull-11"], 
[class*="_cd"][class*="-col"][class*="-xs-pull-11"]>*{right:91.66666666666666%}
@media (min-width:768px){.container{max-width:768px}
/*--- column sm-function ---*/
/*self*/
[class*="_sf"][class*="-col"][class*="-sm-1"]{width:8.333333333333332%}
[class*="_sf"][class*="-col"][class*="-sm-2"]{width:16.666666666666664%}
[class*="_sf"][class*="-col"][class*="-sm-3"]{width:25%}
[class*="_sf"][class*="-col"][class*="-sm-4"]{width:33.33333333333333%}
[class*="_sf"][class*="-col"][class*="-sm-5"]{width:41.66666666666667%}
[class*="_sf"][class*="-col"][class*="-sm-6"]{width:50%}
[class*="_sf"][class*="-col"][class*="-sm-7"]{width:58.333333333333336%}
[class*="_sf"][class*="-col"][class*="-sm-8"]{width:66.66666666666666%}
[class*="_sf"][class*="-col"][class*="-sm-9"]{width:75%}
[class*="_sf"][class*="-col"][class*="-sm-10"]{width:83.33333333333334%}
[class*="_sf"][class*="-col"][class*="-sm-11"]{width:91.66666666666666%}
[class*="_sf"][class*="-col"][class*="-sm-12"]{width:100%}
/*child*/
[class*="_cd"][class*="-col"][class*="-sm-1"]>*{width:8.333333333333332%}
/*[class*="_cd"][class*="-col"][class*="-sm-2"]>*{width:16.666666666666664%}*/
[class*="_cd"][class*="-col"][class*="-sm-2"]>*{width:16.666667%}
[class*="_cd"][class*="-col"][class*="-sm-3"]>*{width:25%}
[class*="_cd"][class*="-col"][class*="-sm-4"]>*{width:33.33333333333333%}
[class*="_cd"][class*="-col"][class*="-sm-5"]>*{width:41.66666666666667%}
[class*="_cd"][class*="-col"][class*="-sm-6"]>*{width:50%}
[class*="_cd"][class*="-col"][class*="-sm-7"]>*{width:58.333333333333336%}
[class*="_cd"][class*="-col"][class*="-sm-8"]>*{width:66.66666666666666%}
[class*="_cd"][class*="-col"][class*="-sm-9"]>*{width:75%}
[class*="_cd"][class*="-col"][class*="-sm-10"]>*{width:83.33333333333334%}
[class*="_cd"][class*="-col"][class*="-sm-11"]>*{width:91.66666666666666%}
[class*="_cd"][class*="-col"][class*="-sm-12"]>*{width:100%}
/*offset*/
[class*="_sf"][class*="-col"][class*="-sm-offset-0"], 
[class*="_cd"][class*="-col"][class*="-sm-offset-0"]>*{margin-left:0}
[class*="_sf"][class*="-col"][class*="-sm-offset-1"], 
[class*="_cd"][class*="-col"][class*="-sm-offset-1"]>*{margin-left:8.333333333333332%}
[class*="_sf"][class*="-col"][class*="-sm-offset-2"], 
[class*="_cd"][class*="-col"][class*="-sm-offset-2"]>*{margin-left:16.666666666666664%}
[class*="_sf"][class*="-col"][class*="-sm-offset-3"], 
[class*="_cd"][class*="-col"][class*="-sm-offset-3"]>*{margin-left:25%}
[class*="_sf"][class*="-col"][class*="-sm-offset-4"], 
[class*="_cd"][class*="-col"][class*="-sm-offset-4"]>*{margin-left:33.33333333333333%}
[class*="_sf"][class*="-col"][class*="-sm-offset-5"], 
[class*="_cd"][class*="-col"][class*="-sm-offset-5"]>*{margin-left:41.66666666666667%}
[class*="_sf"][class*="-col"][class*="-sm-offset-6"], 
[class*="_cd"][class*="-col"][class*="-sm-offset-6"]>*{margin-left:50%}
[class*="_sf"][class*="-col"][class*="-sm-offset-7"], 
[class*="_cd"][class*="-col"][class*="-sm-offset-7"]>*{margin-left:58.333333333333336%}
[class*="_sf"][class*="-col"][class*="-sm-offset-8"], 
[class*="_cd"][class*="-col"][class*="-sm-offset-8"]>*{margin-left:66.66666666666666%}
[class*="_sf"][class*="-col"][class*="-sm-offset-9"], 
[class*="_cd"][class*="-col"][class*="-sm-offset-9"]>*{margin-left:75%}
[class*="_sf"][class*="-col"][class*="-sm-offset-10"], 
[class*="_cd"][class*="-col"][class*="-sm-offset-10"]>*{margin-left:83.33333333333334%}
[class*="_sf"][class*="-col"][class*="-sm-offset-11"], 
[class*="_cd"][class*="-col"][class*="-sm-offset-11"]>*{margin-left:91.66666666666666%}
/*push pull*/
[class*="_sf"][class*="-col"][class*="-sm-push-0"], 
[class*="_cd"][class*="-col"][class*="-sm-push-0"]>*{left:auto}
[class*="_sf"][class*="-col"][class*="-sm-push-1"], 
[class*="_cd"][class*="-col"][class*="-sm-push-1"]>*{left:8.333333333333332%}
[class*="_sf"][class*="-col"][class*="-sm-push-2"], 
[class*="_cd"][class*="-col"][class*="-sm-push-2"]>*{left:16.666666666666664%}
[class*="_sf"][class*="-col"][class*="-sm-push-3"], 
[class*="_cd"][class*="-col"][class*="-sm-push-3"]>*{left:25%}
[class*="_sf"][class*="-col"][class*="-sm-push-4"], 
[class*="_cd"][class*="-col"][class*="-sm-push-4"]>*{left:33.33333333333333%}
[class*="_sf"][class*="-col"][class*="-sm-push-5"], 
[class*="_cd"][class*="-col"][class*="-sm-push-5"]>*{left:41.66666666666667%}
[class*="_sf"][class*="-col"][class*="-sm-push-6"], 
[class*="_cd"][class*="-col"][class*="-sm-push-6"]>*{left:50%}
[class*="_sf"][class*="-col"][class*="-sm-push-7"], 
[class*="_cd"][class*="-col"][class*="-sm-push-7"]>*{left:58.333333333333336%}
[class*="_sf"][class*="-col"][class*="-sm-push-8"], 
[class*="_cd"][class*="-col"][class*="-sm-push-8"]>*{left:66.66666666666666%}
[class*="_sf"][class*="-col"][class*="-sm-push-9"], 
[class*="_cd"][class*="-col"][class*="-sm-push-9"]>*{left:75%}
[class*="_sf"][class*="-col"][class*="-sm-push-10"], 
[class*="_cd"][class*="-col"][class*="-sm-push-10"]>*{left:83.33333333333334%}
[class*="_sf"][class*="-col"][class*="-sm-push-11"], 
[class*="_cd"][class*="-col"][class*="-sm-push-11"]>*{left:91.66666666666666%}
[class*="_sf"][class*="-col"][class*="-sm-pull-0"], 
[class*="_cd"][class*="-col"][class*="-sm-pull-0"]>*{right:auto}
[class*="_sf"][class*="-col"][class*="-sm-pull-1"], 
[class*="_cd"][class*="-col"][class*="-sm-pull-1"]>*{right:8.333333333333332%}
[class*="_sf"][class*="-col"][class*="-sm-pull-2"], 
[class*="_cd"][class*="-col"][class*="-sm-pull-2"]>*{right:16.666666666666664%}
[class*="_sf"][class*="-col"][class*="-sm-pull-3"], 
[class*="_cd"][class*="-col"][class*="-sm-pull-3"]>*{right:25%}
[class*="_sf"][class*="-col"][class*="-sm-pull-4"], 
[class*="_cd"][class*="-col"][class*="-sm-pull-4"]>*{right:33.33333333333333%}
[class*="_sf"][class*="-col"][class*="-sm-pull-5"], 
[class*="_cd"][class*="-col"][class*="-sm-pull-5"]>*{right:41.66666666666667%}
[class*="_sf"][class*="-col"][class*="-sm-pull-6"], 
[class*="_cd"][class*="-col"][class*="-sm-pull-6"]>*{right:50%}
[class*="_sf"][class*="-col"][class*="-sm-pull-7"], 
[class*="_cd"][class*="-col"][class*="-sm-pull-7"]>*{right:58.333333333333336%}
[class*="_sf"][class*="-col"][class*="-sm-pull-8"], 
[class*="_cd"][class*="-col"][class*="-sm-pull-8"]>*{right:66.66666666666666%}
[class*="_sf"][class*="-col"][class*="-sm-pull-9"], 
[class*="_cd"][class*="-col"][class*="-sm-pull-9"]>*{right:75%}
[class*="_sf"][class*="-col"][class*="-sm-pull-10"], 
[class*="_cd"][class*="-col"][class*="-sm-pull-10"]>*{right:83.33333333333334%}
[class*="_sf"][class*="-col"][class*="-sm-pull-11"], 
[class*="_cd"][class*="-col"][class*="-sm-pull-11"]>*{right:91.66666666666666%}
}
@media (min-width:980px){.container{max-width:980px}
/*--- column md-function ---*/
/*self*/
[class*="_sf"][class*="-col"][class*="-md-1"]{width:8.333333333333332%}
[class*="_sf"][class*="-col"][class*="-md-2"]{width:16.666666666666664%}
[class*="_sf"][class*="-col"][class*="-md-3"]{width:25%}
[class*="_sf"][class*="-col"][class*="-md-4"]{width:33.33333333333333%}
[class*="_sf"][class*="-col"][class*="-md-5"]{width:41.66666666666667%}
[class*="_sf"][class*="-col"][class*="-md-6"]{width:50%}
[class*="_sf"][class*="-col"][class*="-md-7"]{width:58.333333333333336%}
[class*="_sf"][class*="-col"][class*="-md-8"]{width:66.66666666666666%}
[class*="_sf"][class*="-col"][class*="-md-9"]{width:75%}
[class*="_sf"][class*="-col"][class*="-md-10"]{width:83.33333333333334%}
[class*="_sf"][class*="-col"][class*="-md-11"]{width:91.66666666666666%}
[class*="_sf"][class*="-col"][class*="-md-12"]{width:100%}
/*child*/
[class*="_cd"][class*="-col"][class*="-md-1"]>*{width:8.333333333333332%}
/*[class*="_cd"][class*="-col"][class*="-md-2"]>*{width:16.666666666666664%}*/ /*24.666667%*/
[class*="_cd"][class*="-col"][class*="-md-2"]>*{width:24.666667}
[class*="_cd"][class*="-col"][class*="-md-3"]>*{width:25%}
[class*="_cd"][class*="-col"][class*="-md-4"]>*{width:33.33333333333333%}
[class*="_cd"][class*="-col"][class*="-md-5"]>*{width:41.66666666666667%}
[class*="_cd"][class*="-col"][class*="-md-6"]>*{width:50%}
[class*="_cd"][class*="-col"][class*="-md-7"]>*{width:58.333333333333336%}
[class*="_cd"][class*="-col"][class*="-md-8"]>*{width:66.66666666666666%}
[class*="_cd"][class*="-col"][class*="-md-9"]>*{width:75%}
[class*="_cd"][class*="-col"][class*="-md-10"]>*{width:83.33333333333334%}
[class*="_cd"][class*="-col"][class*="-md-11"]>*{width:91.66666666666666%}
[class*="_cd"][class*="-col"][class*="-md-12"]>*{width:100%}
/*offset*/
[class*="_sf"][class*="-col"][class*="-md-offset-0"], 
[class*="_cd"][class*="-col"][class*="-md-offset-0"]>*{margin-left:0}
[class*="_sf"][class*="-col"][class*="-md-offset-1"], 
[class*="_cd"][class*="-col"][class*="-md-offset-1"]>*{margin-left:8.333333333333332%}
[class*="_sf"][class*="-col"][class*="-md-offset-2"], 
[class*="_cd"][class*="-col"][class*="-md-offset-2"]>*{margin-left:16.666666666666664%}
[class*="_sf"][class*="-col"][class*="-md-offset-3"], 
[class*="_cd"][class*="-col"][class*="-md-offset-3"]>*{margin-left:25%}
[class*="_sf"][class*="-col"][class*="-md-offset-4"], 
[class*="_cd"][class*="-col"][class*="-md-offset-4"]>*{margin-left:33.33333333333333%}
[class*="_sf"][class*="-col"][class*="-md-offset-5"], 
[class*="_cd"][class*="-col"][class*="-md-offset-5"]>*{margin-left:41.66666666666667%}
[class*="_sf"][class*="-col"][class*="-md-offset-6"], 
[class*="_cd"][class*="-col"][class*="-md-offset-6"]>*{margin-left:50%}
[class*="_sf"][class*="-col"][class*="-md-offset-7"], 
[class*="_cd"][class*="-col"][class*="-md-offset-7"]>*{margin-left:58.333333333333336%}
[class*="_sf"][class*="-col"][class*="-md-offset-8"], 
[class*="_cd"][class*="-col"][class*="-md-offset-8"]>*{margin-left:66.66666666666666%}
[class*="_sf"][class*="-col"][class*="-md-offset-9"], 
[class*="_cd"][class*="-col"][class*="-md-offset-9"]>*{margin-left:75%}
[class*="_sf"][class*="-col"][class*="-md-offset-10"], 
[class*="_cd"][class*="-col"][class*="-md-offset-10"]>*{margin-left:83.33333333333334%}
[class*="_sf"][class*="-col"][class*="-md-offset-11"], 
[class*="_cd"][class*="-col"][class*="-md-offset-11"]>*{margin-left:91.66666666666666%}
/*push pull*/
[class*="_sf"][class*="-col"][class*="-md-push-0"], 
[class*="_cd"][class*="-col"][class*="-md-push-0"]>*{left:auto}
[class*="_sf"][class*="-col"][class*="-md-push-1"], 
[class*="_cd"][class*="-col"][class*="-md-push-1"]>*{left:8.333333333333332%}
[class*="_sf"][class*="-col"][class*="-md-push-2"], 
[class*="_cd"][class*="-col"][class*="-md-push-2"]>*{left:16.666666666666664%}
[class*="_sf"][class*="-col"][class*="-md-push-3"], 
[class*="_cd"][class*="-col"][class*="-md-push-3"]>*{left:25%}
[class*="_sf"][class*="-col"][class*="-md-push-4"], 
[class*="_cd"][class*="-col"][class*="-md-push-4"]>*{left:33.33333333333333%}
[class*="_sf"][class*="-col"][class*="-md-push-5"], 
[class*="_cd"][class*="-col"][class*="-md-push-5"]>*{left:41.66666666666667%}
[class*="_sf"][class*="-col"][class*="-md-push-6"], 
[class*="_cd"][class*="-col"][class*="-md-push-6"]>*{left:50%}
[class*="_sf"][class*="-col"][class*="-md-push-7"], 
[class*="_cd"][class*="-col"][class*="-md-push-7"]>*{left:58.333333333333336%}
[class*="_sf"][class*="-col"][class*="-md-push-8"], 
[class*="_cd"][class*="-col"][class*="-md-push-8"]>*{left:66.66666666666666%}
[class*="_sf"][class*="-col"][class*="-md-push-9"], 
[class*="_cd"][class*="-col"][class*="-md-push-9"]>*{left:75%}
[class*="_sf"][class*="-col"][class*="-md-push-10"], 
[class*="_cd"][class*="-col"][class*="-md-push-10"]>*{left:83.33333333333334%}
[class*="_sf"][class*="-col"][class*="-md-push-11"], 
[class*="_cd"][class*="-col"][class*="-md-push-11"]>*{left:91.66666666666666%}
[class*="_sf"][class*="-col"][class*="-md-pull-0"], 
[class*="_cd"][class*="-col"][class*="-md-pull-0"]>*{right:auto}
[class*="_sf"][class*="-col"][class*="-md-pull-1"], 
[class*="_cd"][class*="-col"][class*="-md-pull-1"]>*{right:8.333333333333332%}
[class*="_sf"][class*="-col"][class*="-md-pull-2"], 
[class*="_cd"][class*="-col"][class*="-md-pull-2"]>*{right:16.666666666666664%}
[class*="_sf"][class*="-col"][class*="-md-pull-3"], 
[class*="_cd"][class*="-col"][class*="-md-pull-3"]>*{right:25%}
[class*="_sf"][class*="-col"][class*="-md-pull-4"], 
[class*="_cd"][class*="-col"][class*="-md-pull-4"]>*{right:33.33333333333333%}
[class*="_sf"][class*="-col"][class*="-md-pull-5"], 
[class*="_cd"][class*="-col"][class*="-md-pull-5"]>*{right:41.66666666666667%}
[class*="_sf"][class*="-col"][class*="-md-pull-6"], 
[class*="_cd"][class*="-col"][class*="-md-pull-6"]>*{right:50%}
[class*="_sf"][class*="-col"][class*="-md-pull-7"], 
[class*="_cd"][class*="-col"][class*="-md-pull-7"]>*{right:58.333333333333336%}
[class*="_sf"][class*="-col"][class*="-md-pull-8"], 
[class*="_cd"][class*="-col"][class*="-md-pull-8"]>*{right:66.66666666666666%}
[class*="_sf"][class*="-col"][class*="-md-pull-9"], 
[class*="_cd"][class*="-col"][class*="-md-pull-9"]>*{right:75%}
[class*="_sf"][class*="-col"][class*="-md-pull-10"], 
[class*="_cd"][class*="-col"][class*="-md-pull-10"]>*{right:83.33333333333334%}
[class*="_sf"][class*="-col"][class*="-md-pull-11"], 
[class*="_cd"][class*="-col"][class*="-md-pull-11"]>*{right:91.66666666666666%}
}

@media (min-width:1200px){.container{max-width:1170px}
 /*--- column md-function ---*/
 /*child*/
 [class*="_cd"][class*="-col"][class*="-lg-1"]>*{width:8.333333333333332%}
 [class*="_cd"][class*="-col"][class*="-lg-2"]>*{width:16.666666666666664%}
 [class*="_cd"][class*="-col"][class*="-lg-3"]>*{width:25%}
 [class*="_cd"][class*="-col"][class*="-lg-4"]>*{width:33.33333333333333%}
 [class*="_cd"][class*="-col"][class*="-lg-5"]>*{width:41.66666666666667%}
 [class*="_cd"][class*="-col"][class*="-lg-6"]>*{width:50%}
 [class*="_cd"][class*="-col"][class*="-lg-7"]>*{width:58.333333333333336%}
 [class*="_cd"][class*="-col"][class*="-lg-8"]>*{width:66.66666666666666%}
 [class*="_cd"][class*="-col"][class*="-lg-9"]>*{width:75%}
 [class*="_cd"][class*="-col"][class*="-lg-10"]>*{width:83.33333333333334%}
 [class*="_cd"][class*="-col"][class*="-lg-11"]>*{width:91.66666666666666%}
 [class*="_cd"][class*="-col"][class*="-lg-12"]>*{width:100%}
 /*self*/
 [class*="_sf"][class*="-col"][class*="-lg-1"]{width:8.333333333333332%}
 [class*="_sf"][class*="-col"][class*="-lg-2"]{width:16.666666666666664%}
 [class*="_sf"][class*="-col"][class*="-lg-3"]{width:25%}
 [class*="_sf"][class*="-col"][class*="-lg-4"]{width:33.33333333333333%}
 [class*="_sf"][class*="-col"][class*="-lg-5"]{width:41.66666666666667%}
 [class*="_sf"][class*="-col"][class*="-lg-6"]{width:50%}
 [class*="_sf"][class*="-col"][class*="-lg-7"]{width:58.333333333333336%}
 [class*="_sf"][class*="-col"][class*="-lg-8"]{width:66.66666666666666%}
 [class*="_sf"][class*="-col"][class*="-lg-9"]{width:75%}
 [class*="_sf"][class*="-col"][class*="-lg-10"]{width:83.33333333333334%}
 [class*="_sf"][class*="-col"][class*="-lg-11"]{width:91.66666666666666%}
 [class*="_sf"][class*="-col"][class*="-lg-12"]{width:100%}
 /*offset*/
 [class*="_sf"][class*="-col"][class*="-lg-offset-0"],[class*="_cd"][class*="-col"][class*="-lg-offset-0"]>*{margin-left:0}
 [class*="_sf"][class*="-col"][class*="-lg-offset-1"],[class*="_cd"][class*="-col"][class*="-lg-offset-1"]>*{margin-left:8.333333333333332%}
 [class*="_sf"][class*="-col"][class*="-lg-offset-2"],[class*="_cd"][class*="-col"][class*="-lg-offset-2"]>*{margin-left:16.666666666666664%}
 [class*="_sf"][class*="-col"][class*="-lg-offset-3"],[class*="_cd"][class*="-col"][class*="-lg-offset-3"]>*{margin-left:25%}
 [class*="_sf"][class*="-col"][class*="-lg-offset-4"],[class*="_cd"][class*="-col"][class*="-lg-offset-4"]>*{margin-left:33.33333333333333%}
 [class*="_sf"][class*="-col"][class*="-lg-offset-5"],[class*="_cd"][class*="-col"][class*="-lg-offset-5"]>*{margin-left:41.66666666666667%}
 [class*="_sf"][class*="-col"][class*="-lg-offset-6"],[class*="_cd"][class*="-col"][class*="-lg-offset-6"]>*{margin-left:50%}
 [class*="_sf"][class*="-col"][class*="-lg-offset-7"],[class*="_cd"][class*="-col"][class*="-lg-offset-7"]>*{margin-left:58.333333333333336%}
 [class*="_sf"][class*="-col"][class*="-lg-offset-8"],[class*="_cd"][class*="-col"][class*="-lg-offset-8"]>*{margin-left:66.66666666666666%}
 [class*="_sf"][class*="-col"][class*="-lg-offset-9"],[class*="_cd"][class*="-col"][class*="-lg-offset-9"]>*{margin-left:75%}
 [class*="_sf"][class*="-col"][class*="-lg-offset-10"],[class*="_cd"][class*="-col"][class*="-lg-offset-10"]>*{margin-left:83.33333333333334%}
 [class*="_sf"][class*="-col"][class*="-lg-offset-11"],[class*="_cd"][class*="-col"][class*="-lg-offset-11"]>*{margin-left:91.66666666666666%}
 /*push pull*/
 [class*="_sf"][class*="-col"][class*="-lg-push-0"],[class*="_cd"][class*="-col"][class*="-lg-push-0"]>*{left:auto}
 [class*="_sf"][class*="-col"][class*="-lg-push-1"],[class*="_cd"][class*="-col"][class*="-lg-push-1"]>*{left:8.333333333333332%}
 [class*="_sf"][class*="-col"][class*="-lg-push-2"],[class*="_cd"][class*="-col"][class*="-lg-push-2"]>*{left:16.666666666666664%}
 [class*="_sf"][class*="-col"][class*="-lg-push-3"],[class*="_cd"][class*="-col"][class*="-lg-push-3"]>*{left:25%}
 [class*="_sf"][class*="-col"][class*="-lg-push-4"],[class*="_cd"][class*="-col"][class*="-lg-push-4"]>*{left:33.33333333333333%}
 [class*="_sf"][class*="-col"][class*="-lg-push-5"],[class*="_cd"][class*="-col"][class*="-lg-push-5"]>*{left:41.66666666666667%}
 [class*="_sf"][class*="-col"][class*="-lg-push-6"],[class*="_cd"][class*="-col"][class*="-lg-push-6"]>*{left:50%}
 [class*="_sf"][class*="-col"][class*="-lg-push-7"],[class*="_cd"][class*="-col"][class*="-lg-push-7"]>*{left:58.333333333333336%}
 [class*="_sf"][class*="-col"][class*="-lg-push-8"],[class*="_cd"][class*="-col"][class*="-lg-push-8"]>*{left:66.66666666666666%}
 [class*="_sf"][class*="-col"][class*="-lg-push-9"],[class*="_cd"][class*="-col"][class*="-lg-push-9"]>*{left:75%}
 [class*="_sf"][class*="-col"][class*="-lg-push-10"],[class*="_cd"][class*="-col"][class*="-lg-push-10"]>*{left:83.33333333333334%}
 [class*="_sf"][class*="-col"][class*="-lg-push-11"],[class*="_cd"][class*="-col"][class*="-lg-push-11"]>*{left:91.66666666666666%}
 [class*="_sf"][class*="-col"][class*="-lg-pull-0"],[class*="_cd"][class*="-col"][class*="-lg-pull-0"]>*{right:auto}
 [class*="_sf"][class*="-col"][class*="-lg-pull-1"],[class*="_cd"][class*="-col"][class*="-lg-pull-1"]>*{right:8.333333333333332%}
 [class*="_sf"][class*="-col"][class*="-lg-pull-2"],[class*="_cd"][class*="-col"][class*="-lg-pull-2"]>*{right:16.666666666666664%}
 [class*="_sf"][class*="-col"][class*="-lg-pull-3"],[class*="_cd"][class*="-col"][class*="-lg-pull-3"]>*{right:25%}
 [class*="_sf"][class*="-col"][class*="-lg-pull-4"],[class*="_cd"][class*="-col"][class*="-lg-pull-4"]>*{right:33.33333333333333%}
 [class*="_sf"][class*="-col"][class*="-lg-pull-5"],[class*="_cd"][class*="-col"][class*="-lg-pull-5"]>*{right:41.66666666666667%}
 [class*="_sf"][class*="-col"][class*="-lg-pull-6"],[class*="_cd"][class*="-col"][class*="-lg-pull-6"]>*{right:50%}
 [class*="_sf"][class*="-col"][class*="-lg-pull-7"],[class*="_cd"][class*="-col"][class*="-lg-pull-7"]>*{right:58.333333333333336%}
 [class*="_sf"][class*="-col"][class*="-lg-pull-8"],[class*="_cd"][class*="-col"][class*="-lg-pull-8"]>*{right:66.66666666666666%}
 [class*="_sf"][class*="-col"][class*="-lg-pull-9"],[class*="_cd"][class*="-col"][class*="-lg-pull-9"]>*{right:75%}
 [class*="_sf"][class*="-col"][class*="-lg-pull-10"],[class*="_cd"][class*="-col"][class*="-lg-pull-10"]>*{right:83.33333333333334%}
 [class*="_sf"][class*="-col"][class*="-lg-pull-11"],[class*="_cd"][class*="-col"][class*="-lg-pull-11"]>*{right:91.66666666666666%}}
@media (min-width:1600px){.container{max-width:1520px}}
/*highlight*/
.nav-home{display:table}
.nav-home:after{display:none}
.nav-home>article{display:table-cell;width:1%;text-align:center;padding:35px 30px;margin-bottom:0;vertical-align:middle}
.nav-home>article>a{text-decoration:none}
.nav-home>article>a img{max-width:100%}
.nav-home>article>a>h3{font-size:24px;line-height:30px}
.nav-home>article>a>h3>img{margin:-15px 10px}
/*contents*/
.container>.bg-wh{clear:both}
.bg-wh{background:#fff}
.box-wh{position:relative;padding:15px 0 3vw;background:#fff;background-color:rgba(255,255,255,0.5)}
.bg-filter{background:url(../img/bg-filter.jpg) 50% 0}
.bg-web:before{content:"";display:block;width:100%;height:354px;position:absolute;top:50%;left:0;right:0;max-width:100%;margin-top:-354px;background:url(../img/bg-web.png) 50% 50% no-repeat;background-size:100% auto}
.bg-web.f-top:before{top:180px;height:200px;margin-top:-200px;background-size:100% 100%}
#contents{position:relative;padding:50px 20px}
.page{position:relative}
.page img{max-width:100%;height:auto}
.page>.container{position:relative;padding:2vw 0}
.sw-lang{position:absolute;top:25px;right:0;z-index:10}
.sw-lang>a{display:inline-block}
.sw-lang>a.hid{display:none}
.sw-lang>a>img{max-width:100%;border-radius:5em;-webkit-border-radius:5em}
.nav-about{position:relative;padding:3vw}
.nav-about ul>li{}
.nav-about ul>li>img{display:block;max-width:100%;border-radius:20em;-webkit-border-radius:20em;box-shadow:0 20px 20px rgba(0,0,0,0.3)}
.vision{color:#000;text-align:center;clear:both}
.vision p{font-size:19px;line-height:32px}
/*Product*/
.h-sec{position:relative;clear:both;text-align:center;font:700 34px/40px "Kanit";color:#8203a0;letter-spacing:0.4vw;margin-bottom:2vw;text-shadow:0 1px 1px rgba(0,0,0,.2)}
.nav-pd>ul>li{margin-bottom:20px}
.nav-pd>ul>li>a{text-align:center;position:relative;text-decoration:none}
.nav-pd>ul>li>a>img{display:block;margin:0 auto 10px;border-radius:10em;-webkit-border-radius:10em;box-shadow:5px 10px 10px rgba(0,0,120,0.3)}
.nav-pd>ul>li>a>h3{color:#000;font:21px/30px "Kanit";text-shadow:0 1px 1px rgba(0,0,0,.2);white-space:nowrap}
.nav-pd>ul>li>a.selected>img{opacity:.85;-webkit-filter: contrast(60%) brightness(0.90);filter:contrast(60%) brightness(0.90)}
.nav-pd>ul>li>a.selected>h3{color:#0068b2}
.thm-top{}
.thm-top[class*="_cd"][class*="row"]{margin-left:-5px;margin-right:-5px}
.thm-top[class*="_cd"]>*{padding-left:5px;padding-right:5px}
.thm-top>*>a{display:block;position:relative;background:#fff;padding:0;border:3px solid #fff;text-align:center;overflow:hidden;text-decoration:none;transition:.2s all ease-in-out;transition:.2s all ease-in-out}
.thm-top>*>a>img{display:block;max-width:100%;transform:scale(1);-webkit-transform:scale(1);transition:.3s all ease-in-out;transition:.3s all ease-in-out}
.thm-top>*>a>img:first-child+*{position:relative;z-index:2;background:#fff;display:block;font:16px/20px "Kanit";color:#0073b6;padding:5px 0 2px;white-space:nowrap;overflow:hidden}
.thm-pd{display:block;text-align:center}
.thm-pd>*{display:inline-block;padding:0 20px;margin-bottom:30px;max-width:18%}
.thm-pd>*>a{display:block;text-decoration:none}
.thm-pd>*>a>img{filter: drop-shadow(0px 5px 5px rgba(0,0,0,.3));-webkit-filter:drop-shadow(0px 5px 5px rgba(0,0,0,.3))}
.thm-pd>*>a>img:first-child+*{font:21px/25px "Kanit";color:#0073b6;margin-top:10px}
/*read*/
.sec-product{}
.sec-product .thumb{text-align:center}
.sec-product .thumb img{display:inline-block;vertical-align:middle;margin-bottom:10px;max-width:100%}
.sec-product .thumb img:first-child{margin-top:3vw}
.sec-product .thumb a+a>img:first-child{margin-top:0}
.sec-product .detail{font:21px/25px "Kanit";color:#0073b4}
.sec-product .detail .h-sec{text-align:left;margin-bottom:10px}
.sec-product .detail .list p{margin-bottom:20px}
.sec-product .detail .list>h3{font-weight:700;font-size:24px;margin-bottom:10px}
.sec-product .detail .list>ul{margin-bottom:25px}
.sec-product .detail .list>ul>li{list-style:disc outside;margin-left:20px;margin-bottom:5px}
.sec-product .detail .list>ul:last-child{margin-bottom:0}
.sec-product .detail iframe{max-width:100%}
/*support*/
.page-support{}
/*paging*/
.pagination{position:relative;clear:both;margin-top:20px;margin-left:auto;margin-right:auto}
.pagination ul{width:100%;text-align:center}
.pagination ul li{display:inline-block}
.pagination ul li a{display:inline-block;padding:0 8px;font:14px/25px tahoma;color:#666;background:fff;text-align:center;border-radius:.1em}
.pagination ul li a:hover{background:#f1f1f1}
.pagination ul li.active a{font-weight:700;color:#222}
/*Check Max width*/
@media (min-width:1200px){
.srh{top:2.5vw;font-size:26.5px;}
.srh form .txt-box{line-height:25px}
.srh form .btn-srh{height:34px}
}
@media (min-width:1024px){.nav-home>article>a:hover{opacity:.75}
.thm-top>*>a:hover{box-shadow:0 5px 5px rgba(0,0,0,.3);transform:translate(0, -2px);-webkit-transform:translate(0, -2px)}
.thm-top>*>a:hover>img{transform:scale(1.2);-webkit-transform:scale(1.2)}
.nav-pd>ul>li>a:hover>img{opacity:.85;-webkit-filter: contrast(60%) brightness(0.90);filter:contrast(60%) brightness(0.90)}
}
@media (max-width:1024px){.nav-home>article{padding:20px}
.nav-home>article>a>h3>img{height:100px;margin:-10px 0}
.nav-pd>ul>li>a>h3{font-size:18px}
.thm-pd>*{padding:0 10px}
.thm-pd>*>a>img:first-child+*{font-size:18px}
}
@media (max-width:800px){.nav-home>article{padding:10px}
.nav-home>article>a>h3{font-size:21px}
.nav-home>article>a>h3>img{height:70px;margin:5px 0}
.nav-pd>ul>li>a>h3{font-size:16px}
.thm-pd>*{max-width:22%;padding:0 5px}
.thm-pd>*>a>img:first-child+*{font-size:18px}
.srh{top:auto;bottom:5px;right:10px;width:300px}
.srh form .txt-box{width:60%}
}
@media (min-width:769px) and (max-width:980px){#header .title{display:none}}
@media (max-width:768px){body,body.home{padding-top:50px}
body{background-size:150% auto}
.container{padding-right:10px;padding-left:10px}
#header{position:fixed;left:0;right:0;top:0;height:auto;z-index:199;margin-top:0;margin-bottom:0;background:rgba(255,255,255,0.75);box-shadow:none}
#header .title{font-size:2vw;line-height:2.5vw}
.logo{max-height:50px;padding-right:0;padding-left:50px;margin:0}
.logo img{margin:0}
.top-ads{text-align:center}
#header .btn-nv-m{display:block;position:absolute;top:12px;left:5px;width:40px;height:40px;z-index:5}
#header .btn-nv-m>a{position:relative;display:block;height:100%;text-indent:-9999px;z-index:6}
#header .btn-nv-m>a:before{content: "\f0c9";font:28px/40px 'FontAwesome';color:#115793;display:block;position:absolute;top:0;left:0;margin-left:0;text-indent:0;text-align:center;width:40px;height:40px}
/*#header .btn-nv-m>a:not(.active){background:rgba(0,0,0,0.5)}*/
#header .btn-nv-m>a.active{box-shadow:0 0 6px 5px rgba(0,0,0,0.2) inset;background-color:rgba(0,0,0,0.15)}
#header .btn-nv-m>a.active:after{content:"";display:block;position:fixed;top:0;height:100vh;left:0;bottom:0;right:0;background:transparent;z-index:-1}
#navigation{position:fixed;top:0;bottom:0;height:100vh;background:none;left:-250px!important;width:250px;z-index:905}
#navigation #nav-drop{position:absolute;top:0;left:0;width:250px;border:0;height:100%;overflow:auto;background:#f3f3f3;text-align:left}
body.expand #nav-drop{box-shadow:2px 0 3px rgba(0,0,0,0.5);padding:0}
#nav-drop>li{padding:0;font:13px/36px tahoma;color:#000;box-shadow:0 -1px 0 rgba(255,255,255,0.05) inset}
#nav-drop>li{position:relative;background:#f3f3f3;box-shadow:0 -1px 0 rgba(0,0,0,0.1) inset}
#nav-drop>li.hid{display:block}
#nav-drop>li>b,#nav-drop>li>a{display:block;position:relative;padding:0 10px;color:#777;font:19px/50px "Kanit";text-shadow:0 1px 0 rgba(255,255,255,0.5)}
#nav-drop>li>b>a{color:#777}
#nav-drop>li a.selected{color:#0072b7}
#nav-drop>li>b .t-red{color:#c00}
#nav-drop>li>b:after{position:absolute;top:50%;right:15px;margin-top:0;content:"";display:block;border-top:5px solid #115793;border-left:5px solid transparent;border-right:5px solid transparent}
#nav-drop>li>ul[style*="none"]{display:block!important;visibility:visible!important}
#nav-drop>li>ul{background:#fff}
#nav-drop>li ul ul{padding-left:20px}
#nav-drop>li ul>li{border-bottom:1px  dotted #ccc}
#nav-drop>li ul>li>a{display:block;padding:10px 10px 10px 20px;font:100 16px/20px "Kanit", tahoma;color:#777}
#header .btn-nv-m{top:5px}
#contents>*{padding:0}
#contents img{max-width:100%}
#contents>*{margin-bottom:5px}
#footer{padding:10px 0 15px}
#footer .lg-footer{display:block;text-align:center;position:relative;margin-top:0}
#footer .lg-footer img{max-height:80px}
#footer>.container>h3{font-size:22px}
#footer>.container>address, #footer>.container>.contact{font-size:14px}
#footer>.container>.copy{text-align:left}
.flex-control-nav{padding:0}
}
@media (max-width:767px){#header .title{font-size:3vw;line-height:4vw;letter-spacing:0;max-width:40%}
.nav-home{display:block}
.nav-home>article{display:block;width:100%}
.thm-pd>*{max-width:30%;padding:0}
.thm-pd>*>a>img:first-child+*{line-height:18px}
.srh{position:fixed;top:0;left:-250px;width:250px;z-index:999}
.srh form .txt-box{width:100%;background:#fff;line-height:28px;border-radius:0;-webkit-border-radius:0;margin:0}
.srh form .btn-srh{top:0;right:0;background:#0072b9;text-align:center;color:#fff;height:40px;line-height:30px;margin:0}
#nav-drop > li.hid{margin-top:40px}
}
@media (max-width:414px){body{background-size:300% auto}#header .title{margin-bottom:2px}.h-sec{font-size:26px}.bg-web:before{top:35%}.bg-web.f-top:before{background-size:150% 100%}}
@media (max-width:360px){}
@media (max-width:320px){}